extends layout

block content
  h1 Contact Database
  p Welcome to my contact page 
  p This is to practice the concepts of the CRUD operations: create, read, update, delete
  link(rel='stylesheet', href='/css/style.css')
  a(href='/contacts') View Contacts Database